.subscribe_service img
{
	border: none !important;
	vertical-align: middle !important;
}

.subscribe_service
{
	margin-top: 2px !important;
	margin-bottom: 2px !important;
}

.subscribe_services .subscribe_service
{
	margin-top: 3px !important;
	margin-bottom: 3px !important;
}

.subscribe_dropdown
{
	display: none;
	width: 138px;
	z-index: 1000;
	position: absolute !important;
	border: solid 1px DimGray !important;
	background: White !important;
	padding-top: 2px !important;
	padding-bottom: 2px !important;
	padding-left: 5px !important;
	padding-right: 5px !important;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}